.section {
  padding: 80px 0;
  background: #f7fafc;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.heading {
  text-align: center;
  font-size: 34px;
  font-weight: 800;
  color: #175887;
  margin-bottom: 50px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Tablet */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
